/* Variáveis */
:root {
  --preto-letra: #000000;
  --preto-fundo: #121212;
  --meio-tom: #bcbcbc;
  --branco: #fff;
  --fundo-branco: #E4E1DD;
  --amarelo-logo: #EAC452;
  --amarelo-toque: #FFA500;
  --vermelho: #5c0000;
  --verde: #003300;
  --cinza: #495057;
  --vermelho-intenso: #ff0000;
  --verde-modal: #155724;
  --verde-claro: #c3e6cb;
  --sombra-modal: #d4edda;
  --fundo-claro: #00000080;
  --azul-dúvida:  #0073e6;
  --fonte-padrao: "Noto Serif", serif;
}

/* Menu de Navegação */
.navegacao {
  position: absolute;
  margin-top: 5vh;
  top: 0;
  right: 0; /* Garante que o menu fique na direita */
  height: 30vh;
  width: 70px; 
  overflow-x: hidden;
  transition: width 0.5s;
  z-index: 1000;
}

.navegacao ul {
  position: relative;
  top: 50px; /* Espaço para o botão do menu */
  width: 100%;
  padding-left: 5px;
  padding-top: 20px;
}

.navegacao ul li {
  position: relative;
  list-style: none;
  height: 70%;
  width: 100%;
  border-top-right-radius: 20px; /* Bordas arredondadas no canto superior direito */
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px; /* Bordas arredondadas no canto inferior direito */
}

.navegacao ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--branco);
}

.navegacao ul li a .icone {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navegacao ul li a .icone ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 2000;
}

.navegacao ul li a .titulo {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navegacao ul li a:hover {
  color: var(--amarelo-toque);
}

.navegacao ul li.ativa {
  background: var(--azul-dúvida);
  color: var(--preto-letra);
}

.navegacao ul li.ativa a {
  color: var(--preto-letra);
}
