@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pretoletra: #000000;
  --pretofundo: #121212;
  --meiotom: #d4d4d4;
  --branco: #fff;
  --fundobranco: #E4E1DD;
  --amarelologo: #EAC452;
  --amarelotoque: #FFA500;
  --vermelho: #5c0000;
  --verde: #003300;
  --cinza: #495057;
  --vermelhointenso: #ff0000;
  --verdemodal: #155724;
  --verdeclaro: #c3e6cb;
  --sombramodal: #d4edda;
  --fundoclaro: #00000080;
  --fontepadrao: "Noto Serif", serif;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v207/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: var(--amarelologo);
}

body {
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--fundobranco);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--fontepadrao);
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;

}

html,
body {
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header,
main {
  flex-grow: 1;
}

div p {
  color: var(--amarelologo);
}

p:hover {
  color: var(--amarelotoque);
}

.material-symbols-outlined:hover {
  color: var(--amarelotoque);
}

#imagem_logo {
  background-image: url(../public/logo.png);
  border-radius: 20px;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

p#registro {
  background-color: var(--amarelologo);
  border-radius: 10px;
  border: 1px solid var(--pretoletra);
  width: 15vw;
  margin-left: 3vw;

}

a {
  text-decoration: none;
  color: var(--pretoletra);
}

p#registro:hover {
  background-color: var(--amarelotoque);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2vh;
  align-items: center;
  justify-content: right;
  color: var(--amarelologo);
  background-color: var(--pretofundo);
}


input[type=text],
input[type=password],
input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: 1px solid var(--pretofundo);
  border-radius: 10px;
  background: var(--fundobranco);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
  background-color: var(--meiotom);

}

.btn {
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.btn:hover {
  background-color: var(--amarelotoque);
}

img#logo {
  height: 14vh;
  padding: 15px;
}

li.nav-item.dropdown {
  padding-top: 20px;
  border-radius: 5px;
}

li.nav-item.dropdown:hover {
  background-color: var(--cinza);
  color: var(--amarelotoque);
}

li#nome {
  color: var(--amarelotoque);
  font-weight: bold;
  list-style-type: none;
  padding: 10px;
}

li#pedido a {
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  border-radius: 10px;
  margin: 0px;
  padding: 10px;
}

li#pedido a:hover {
  background-color: var(--amarelotoque);
  color: var(--pretoletra);
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 90%;
  height: 70%;
}

div.tabela {
  width: 90%;
  overflow-x: hidden;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--meiotom);
}

tr:hover {
  background-color: var(--amarelologo);
}

div.tabela {
  height: 70%;
  overflow-y: auto;
  overflow-x: auto;
}

.header {
  background-color: var(--pretofundo);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  height: 15vh;
}

.footer {
  background-color: var(--pretofundo);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  margin-bottom: 0px;
  left: 0;
  margin-left: 0px;
  position: relative;
}

.nav {
  display: flex;
}

.nav-list {
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
}

.nav-item {
  font-size: 18px;
  padding: 5vh;
  align-self: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.nav-item:hover{
  background-color: var(--cinza);
  border-radius: 15px;
}

.nav-link {
  color: var(--amarelologo);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

img {
  height: 10vh;
}

.nav-link:hover {
  color: var(--amarelotoque);
  border-radius: 5px;
}

.close {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
  color: var(--pretoletra);
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
}

.close:hover {
  color: var(--vermelho);
}

.novoCLiente {
  size-adjust: inherit;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: var(--fundobranco);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px var(--pretofundo);
}


.close-modal {
  background-color: var(--vermelhointenso);
  color: var(--branco);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}



.modal-button {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  cursor: pointer;
}

.nav-item {
  position: relative;
}



.nav-item:hover .dropdown-menu {
  display: block;
}


.nav-link:hover {
  background-color: var(--cinza);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--pretofundo);
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu .nav-link {
  padding: 0.5rem 1rem;
  color: var(--branco);
  text-decoration: none;
  display: block;
}

.dropdown-menu .nav-link:hover {
  background-color: var(--cinza);
}

.nav-item:hover .dropdown-menu {
  display: block;
}

td button.delete {
  background-color: var(--vermelho);
  border: none;
  text-decoration: none;
  color: var(--branco);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

td button.update {
  background-color: var(--verde);
  border: none;
  color: var(--branco);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

td button.update a {
  text-decoration: none;
  color: var(--branco);
}

div.auth {
  gap: 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--pretofundo);
  width: 70vw;
  height: 70vh;
  border-radius: 20px;

  a {
    color: var(--pretoletra);
  }
}

div.auth button {
  background-color: var(--amarelologo);
  border: none;
  color: var(--pretoletra);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--pretofundo);
}

::-webkit-scrollbar-thumb {
  background: var(--amarelologo);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--amarelotoque);
}

.app {
  margin-left: 50px;
  padding-top: 20vh;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;

  .addHome {
    cursor: pointer;
    border: none;
    background-color: var(--vermelhointenso);
    color: var(--branco);
    font-weight: bold;
  }


  .cliente {
    input {
      width: 270px;
      height: auto;
    }

    button {
      width: 270px;
      border: none;
      padding: 10px;
      background-color: var(--amarelologo);
      color: var(--pretoletra);
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
      margin-bottom: 15px
    }

    button:hover {
      background-color: var(--amarelotoque);
    }

    /* Adicionando regra para <p> */
    p {
      color: black; /* Define a cor do texto como preto */
    }
}


  button.categoriaAdd {
    width: 270px;
    border: none;
    padding: 10px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }

  button.categoriaAdd:hover {
    background-color: var(--amarelotoque);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 270px;
      padding: 10px;
      border: 1px solid var(--cinza);
    }

    input radio {
      width: 5px;
    }

    textarea {
      padding: 10px;
    }

    button {
      width: 270px;
      border: none;
      padding: 10px;
      background-color: var(--amarelologo);
      color: var(--pretoletra);
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
    }

    button:hover {
      background-color: var(--amarelotoque);
    }

    select {
      width: 270px;
      padding: 10px;
      border: 1px solid var(--cinza);
      background-color: var(--fundobranco);
    }
  }
}

.categoria-select{
  background-color: var(--fundobranco);
  border-radius: 10px;
}

.success-modal {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--sombramodal);
  color: var(--verdemodal);
  padding: 15px;
  border: 1px solid var(--verdeclaro);
  border-radius: 5px;
  width: 300px;
  text-align: center;
  z-index: 1000;
}

.success-modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  #pedidos {
    p {
      color: var(--pretoletra);
    }

    span {
      color: var(--amarelotoque);
      cursor: pointer;
    }
  }
}

button {
  width: auto;
  border: 1px solid var(--pretofundo);
  margin: 2px;
  padding: 10px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: var(--amarelotoque);
}

#pedidos {
  padding-top: 20vh;

  p {
    color: var(--pretoletra);
  }

  span {
    color: var(--amarelotoque);
    cursor: pointer;
  }
}

.promo {
  display: flex;
  flex-direction: column;
}

.Produto {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Produto p {
  color: var(--pretoletra);
}

.esquerda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5vh;
}

.direita {
  margin-left: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.nav {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

div.pedido {
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

li {
  list-style-type: none;
}

.button-disabled {
  background-color: var(--meiotom);
  color: var(--cinza);
  cursor: not-allowed;
}

#login {
  width: 100%;
  border-radius: 20px;

  div {
    padding: 10px;
  }
}


#login.auth {
  width: 70vw;
  height: 70vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#imagem {
  margin: 5vh;
  align-content: center;
  justify-content: left;

  img {
    height: 30vh;
    max-width: 30vw;
    width: auto;
  }
}

.modal-cliente {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content-cliente {
  position: relative;
  background-color: var(--sombramodal);
  margin: 5vw;

  padding: 20vh;
  border-radius: 10px;
}

button.close-cliente {
  position: absolute !important;
  top: 15vh !important;
  right: 15vw !important;
  width: 1vw !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 20px !important;
  cursor: pointer !important;
}

.close-cliente:hover,
.close-cliente:focus {
  color: var(--vermelhointenso) !important;
}

.atualizar-cliente{
  border: 1px solid var(--pretofundo) !important;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: var(--branco);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* The subnavigation menu */
.subnav {
  margin-right: 10px;
  margin-left: 20px;
  width: 10vw;
  align-content: center;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding-top: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--pretofundo);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-top: 5vh;
  width: 10vw;
  float: left;
  color: var(--cinza);
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: var(--cinza);
  color: var(--pretoletra);
  border-radius: 20px;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}
.asterisco-branco{
  color: var(--fundobranco);
}
.asterisco{
  color: var(--vermelhointenso);
}

input{
  background-color: var(--fundobranco);
}

.navbar {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

.nav-item {
  list-style: none;
}

.direita {
  margin-left: auto; /* Se quiser alinhar à direita */
}


p#erro {
  font-style:italic;
  font-size: 18px;
  color:#e01f1f;
}
.error-message {
  font-style:italic;
  font-size: 16;
  color: red; /* Define a cor do texto como vermelho */
}
.form-container {
  margin-top: 50px;
  position: relative;
  max-width: 800px; /* Define uma largura máxima */
  margin: 0 auto; /* Centraliza o formulário na página */
  justify-content: flex-start;
}

.form-row {
  display: flex; 
  gap: 50px; /* Espaçamento entre os campos */
  margin-bottom: 1px;
  flex-wrap: wrap; /* Permite que os itens quebrem a linha */
  width: 100%; /* Garante que a linha ocupe a largura total */
}

.form-group {

  flex: 1; /* Os campos ocuparão o mesmo espaço */
  min-width: 200px; /* Define um tamanho mínimo para cada campo */
}


.form-container label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
.form-container .form-group input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius:  6px;
  padding: 0 15px;
}

input[type="text"],
input[type="number"],
input[type="password"]
input[type="tel"],
select,
textarea {
  background-color: #f0f8ff;
  color: #000;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 100%; /* Garante que o input ocupe toda a largura do grupo */
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius:  6px;
  padding: 0 15px;
}
.form-container .form-group textarea {
  position: relative;
  height: 50px; /* Essa altura pode ser ajustada para textarea, se necessário */
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;
  box-sizing: border-box; /* Garante que padding e borda não aumentem a largura total */
}

.page-container {
  margin-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  position: sticky; /* Mantém o formulário fixo */
  top: 20px; /* Define a distância do topo da página */
  padding: 20px;
  z-index: 100; /* Para garantir que o formulário esteja acima de outros elementos */
}

.form-title {
  margin: 0; /* Remove margens para que o título não afete o layout */
  padding: 20px 0; /* Ajuste o padding se necessário */
  text-align: center; /* Centraliza o título, se desejado */
  font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
  color: #333; /* Defina a cor do texto, se desejado */
}

.form-container .form-group select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius:  6px;
  padding: 0 15px;

  background-color: #f0f8ff;
  color: #000;
  border: 1px solid #ccc;
  border: 1px solid var(--pretofundo);
}


/* Estilo para o campo de senha */
.senha-input {
  background-color: #f0f8ff !important; /* Força a cor de fundo */
  color: #000 !important; /* Força a cor do texto */
  border: 1px solid var(--pretofundo) !important; /* Força a borda */
}
/* Estilo para os radio buttons */
.radio-group {
  display: flex; /* Exibe os radio buttons lado a lado */
  gap: 10px; /* Espaço entre os radio buttons */
  align-items: center; /* Alinha verticalmente com os textos */
}

/* Mantém o estilo para o input dentro do form-group */
.form-container .form-group input[type="radio"] {
  margin-right: 5px; /* Espaço entre o radio e o texto */
}

.radio-group label {
  display: flex;
  align-items: center;
  padding-right: 52px;
}


/* menu lateral */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--pretofundo);
  width: 70px;
  box-shadow: 10px 0 0 var(--amarelologo);
  border-left: 10px solid var(--pretofundo);
  overflow-x: hidden;
  transition: 0.5s;
  border-bottom-right-radius: 10px;
  z-index: 1000;
}

.navigation:hover {
  width: 300px;
}

.navigation ul {
  position: relative;
  top: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 20px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: var(--branco);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 2000;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active {
  background: var(--amarelologo);
}

.navigation ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: var(--pretofundo);
  border-radius: 50%;
  box-shadow: 15px 15px 0 var(--amarelologo);
}

.navigation ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: var(--pretofundo);
  border-radius: 50%;
  box-shadow: 15px -15px 0 var(--amarelologo);
}

/* CSS para o dropdown fechado */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* CSS para abrir o dropdown ao passar o mouse */
.list:hover .dropdown-content {
  max-height: 500px; /* Um valor grande para garantir que o conteúdo seja exibido */
  opacity: 1;
}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--branco);
}

.dropdown-content a:hover {
  background: var(--amarelologo);
  color: var(--pretoletra);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
