@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pretoletra: #000000;
  --pretofundo: #121212;
  --meiotom: #bcbcbc;
  --branco: #fff;
  --fundobranco: #E4E1DD;
  --amarelologo: #EAC452;
  --amarelotoque: #FFA500;
  --vermelho: #5c0000;
  --verde: #003300;
  --cinza: #495057;
  --vermelhointenso: #ff0000;
  --verdemodal: #155724;
  --verdeclaro: #c3e6cb;
  --sombramodal: #d4edda;
  --fundoclaro: #00000080;
  --fontepadrao: "Noto Serif", serif;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v207/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  color: var(--amarelologo);
}

body {
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--fundobranco);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--fontepadrao);
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 10px;
  width: 100%;
}

header {
  background-color: var(--pretofundo);
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1000;
  height: 10vh;
}

main {
  /* Adiciona um padding-top igual à altura do header */
  padding-top: 10vh;
  /* Isso faz o main começar logo abaixo do header */
  flex-grow: 1;
}


div p {
  color: #292929;
}



.material-symbols-outlined:hover {
  color: var(--amarelotoque);
}

#imagem_logo {
  background-image: url(../public/logo.png);
  border-radius: 20px;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

p#registro {
  background-color: var(--amarelologo);
  border-radius: 10px;
  border: 1px solid var(--pretoletra);
  width: 15vw;
  margin-left: 3vw;

}

a {
  text-decoration: none;
  color: var(--pretoletra);
}

p#registro:hover {
  background-color: var(--amarelotoque);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2vh;
  align-items: center;
  justify-content: right;
  color: var(--amarelologo);
  background-color: var(--pretofundo);
}


input[type=text],
input[type=password],
input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: 1px solid var(--pretofundo);
  border-radius: 10px;
  background: var(--fundobranco);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
  background-color: var(--meiotom);

}

.btn {
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.btn:hover {
  background-color: var(--amarelotoque);
}

img#logo {
  height: 14vh;
  padding: 15px;
}

li.nav-item.dropdown {
  border-radius: 5px;
  height: 7vh;
}

li#nome {
  color: var(--amarelotoque);
  font-weight: bold;
  list-style-type: none;
  padding: 10px;
}

li#pedido a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  border-radius: 10px;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

/* Estilos de cores para diferentes condições */
.row-overdue {
  background-color: #f8d7da;
  /* Vermelho claro */
}

.row-soon {
  background-color: #fff3cd;
  /* Amarelo claro */
}

.row-today {
  background-color: #d4edda;
  /* Verde claro */
}


li#pedido a:hover {
  background-color: var(--amarelotoque);
  color: var(--pretoletra);
  border-radius: 10px;
}

.col-status {
  width: 15%;
  /* Ajuste o valor conforme necessário */
}

.action-icons {

  gap: 8px;
  /* Espaçamento horizontal entre os ícones */
  align-items: center;
  /* Alinha os ícones verticalmente no centro */
  text-align: center;
}

.action-icon {
  display: inline-flex;
  /* Garante que o conteúdo interno fique alinhado */
  cursor: pointer;
  transition: transform 0.2s;
}

.action-icon:hover {
  transform: scale(1.2);
  /* Efeito de zoom ao passar o mouse */
}

.coluna-descricao {
  max-width: 250px;
  /* Ajuste conforme necessário */
  overflow: hidden;
  /* Evita que o texto transborde */
  text-overflow: ellipsis;
  /* Adiciona "..." se o texto for muito longo */
  white-space: normal;
  /* Permite que o texto quebre */
}

.coluna-cep {
  width: 9%;
  text-align: center;
  /* ou um valor maior que as outras colunas */
}

.coluna-cpf {

  text-align: center;
  /* ou um valor maior que as outras colunas */
}

.coluna-cliente {
  width: 15%;
  /* ou um valor maior que as outras colunas */
}

.coluna-nome {
  width: 20%;
  /* ou um valor maior que as outras colunas */
}

.coluna-endereco {
  width: 20%;
  /* ou um valor maior que as outras colunas */
}

.coluna-center {
  text-align: center;
  /* Alinha o texto ao centro */

}

.coluna-center-finalizado {
  text-align: center;
  /* Alinha o texto ao centro */
  width: 10%;
}

.coluna-status {
  width: 10%;
  /* Alinha o texto ao centro */
  text-align: center;
}

.coluna-preco {
  text-align: right;
  /* Alinha o texto à direita */
  width: 8%;
}

.carrinho {
  width: 15%;
  /* ou um valor maior que as outras colunas */
}

.coluna-data {
  width: 12%;
  /* ou um valor maior que as outras colunas */
}

div.tabela-categoria {
  width: 70%;
  table-layout: fixed;
  /* Define uma largura fixa para cada coluna */
  align-items: center;
  margin: 0 auto;
  /* Centraliza a tabela */
}

.filters-container-categoria {
  padding-left: 16%;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.filters-container-categoria button.limpar-filtro , button.aplicar-filtro{
  margin-left: 1%;
  /* Ajuste este valor conforme necessário */
  transform: scale(0.8);
  overflow-x: hidden;

}
.filter-container-pai{
  transform: scale(0.8);
}
.enviar-pedido {
  width: 8%;
  height: 10%;
  border: none;
  padding: 12px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;

}

.filters-container-categoria button.adicionar-categoria {
  /* Ajuste este valor conforme necessário */
  margin-left: 25%;
}

.filters-container-produto button.adicionar-usuario {
  /* Ajuste este valor conforme necessário */
  margin-left: 42%;
}

.filters-container-produto button.adicionar-produto {
  /* Ajuste este valor conforme necessário */
  margin-left: 20%;
}

.filters-container-categoria label {
  display: block;
  /* Ou use inline-block */
  text-align: left;
  /* Garante que o texto esteja alinhado à esquerda */
  margin-bottom: 0px;
  /* Adiciona um pequeno espaçamento abaixo das labels, se necessário */
  padding-left: 10px;
}









.filters-container-produto {
  padding-left: 7%;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.filters-container-produto button.limpar-filtro {
  margin-left: 1%;
  /* Ajuste este valor conforme necessário */
  transform: scale(0.8);
  overflow-x: hidden;

}

.filters-container-produto button.adicionar {
  /* Ajuste este valor conforme necessário */
  margin-left: 28%;

}

.filters-container-produto label {
  display: block;
  /* Ou use inline-block */
  text-align: left;
  /* Garante que o texto esteja alinhado à esquerda */
  margin-bottom: 0px;
  /* Adiciona um pequeno espaçamento abaixo das labels, se necessário */
  padding-left: 10px;
}





.filters-container {
  padding-left: 35px;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.filters-container button.limpar-filtro {
  margin-left: 1%;
  /* Ajuste este valor conforme necessário */
  transform: scale(0.8);
  overflow-x: hidden;

}

.filters-container button.adicionar {
  /* Ajuste este valor conforme necessário */
  margin-left: auto;

}

.filters-container label {
  display: block;
  /* Ou use inline-block */
  text-align: left;
  /* Garante que o texto esteja alinhado à esquerda */
  margin-bottom: 0px;
  /* Adiciona um pequeno espaçamento abaixo das labels, se necessário */
  padding-left: 10px;
}


.filter-item {
  display: flex;
  flex-direction: column;
}

.filter-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

table table {
  border-collapse: collapse;
  width: 90%;
  height: 70%;
  color: #000;

}

div.tabela table {
  width: 100%;
  table-layout: fixed;
  /* Define uma largura fixa para cada coluna */
}

div.tabela-produto table {
  width: 88%;
  table-layout: fixed;
  /* Define uma largura fixa para cada coluna */
  align-items: center;
  margin: 0 auto;
  /* Centraliza a tabela */
}


div.tabela {
  width: 100%;
  transform: scale(0.9);
  overflow-x: hidden;

  table-layout: fixed;
}

th,
td {
  padding: 8px 15px;
  text-align: left;
  min-width: 100px;
  border-bottom: 1px solid var(--meiotom);
}

tr:hover {
  background-color: var(--amarelologo);
}

div.tabela {
  height: 70%;
  overflow-y: auto;
  overflow-x: auto;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: var(--pretofundo);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15vh;
  margin-bottom: 0px;
  left: 0;
  margin-left: 0px;
  position: relative;
}

.nav {
  display: flex;
}

.nav-list {
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;

}

.nav-item {
  color: var(--amarelotoque);
  height: auto;
  font-size: 18px;
  padding: 1vh;
  margin-top: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.nav-item .icon {
  position: relative;
  display: block;
  text-align: center;
  line-height: 5px;
}

.nav-item .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
}

.nav-link {
  color: var(--amarelologo);
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

img {
  height: 10vh;
}

.nav-link:hover {
  color: var(--amarelotoque);
  border-radius: 5px;
}

.close {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
  color: var(--pretoletra);
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 1;
}

.close:hover {
  color: var(--vermelho);
}

.novoCLiente {
  size-adjust: inherit;
}

body.modal-open {
  overflow: hidden;
  /* Impede o scroll da página */
}




.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal {
  display: flex;
  align-items: center;
  /* Centraliza verticalmente o conteúdo */
  justify-content: center;
  /* Centraliza horizontalmente o conteúdo */
  z-index: 1000;
  /* Garante que o modal esteja acima do conteúdo */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo preto com opacidade de 50% */
  position: fixed;
  /* Fixa o modal na tela, não na página */
  top: 0;
  /* Define o início da posição para o topo */
  left: 0;
  /* Define o início da posição para a esquerda */
  width: 100%;
  /* Cobre toda a largura da tela */
  height: 100%;
  /* Cobre toda a altura da tela */
}

/* Modal Content */
.centralizar-pedido {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */

}

.modal-content4 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 20px;
  border: 1px solid #888;
  width: 30%;
  height:340px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;

  flex-direction: column;
  max-width: 90vw;
  /* Limita a largura máxima */
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  padding-top: 20px;
  border: 1px solid #888;
  width: 33%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;

  flex-direction: column;
  max-width: 90vw;
  /* Limita a largura máxima */
}

.-modal-open .fixed,
.-modal-open .content {
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .modal-content {
    width: 80%;
    /* Reduz a largura do modal em telas menores */
  }
}

@media (max-width: 500px) {
  .modal-content {
    width: 90%;
    /* Ajusta ainda mais para telas muito pequenas */
    padding: 15px;
    /* Reduz o preenchimento para economizar espaço */
  }
}

.modal-div {
  display: flex;
  justify-content: center;
  /* Centraliza os botões horizontalmente */
  align-items: center;
  /* Centraliza os botões verticalmente */
  gap: 1rem;
  /* Espaçamento entre os botões */
  flex-wrap: wrap;
  /* Permite que os botões quebrem para a próxima linha, se necessário */
  max-width: 100%;
  /* Evita que o contêiner ultrapasse a largura da tela */
}

.modal-button {
  border: none;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  cursor: pointer;
  margin-top: 2rem;
  min-width: 6.25rem;
  /* Tamanho mínimo para os botões (100px equivalente a 6.25rem) */
}

/* Estilos adicionais para telas menores */
@media (max-width: 37.5rem) {

  /* 600px equivalente a 37.5rem */
  .modal-div {
    flex-direction: column;
    /* Coloca os botões em uma coluna em telas menores */
    gap: 1.5rem;
    /* Aumenta o espaço entre os botões em telas menores */
  }

  .modal-button {
    width: 100%;
    /* Faz com que os botões ocupem a largura total do contêiner */
  }
}


.error-message {
  font-style: italic;
  font-size: 0.8125rem;
  /* 13px equivalente a 0.8125rem (assumindo 16px como base) */
  color: red;
  height: 1.25rem;
  /* Altura proporcional ao tamanho da fonte */
  visibility: hidden;
  /* Oculta a mensagem por padrão */
  max-width: 100%;
  /* Garante que a largura seja responsiva */
}

.error-message.show {
  visibility: visible;
  /* Torna visível apenas quando houver erro */
}

@media (max-width: 48rem) {

  /* 768px equivalente a 48rem */
  .error-message {
    font-size: 0.75rem;
    /* Tamanho de fonte um pouco menor em telas pequenas */
    height: 1rem;
    /* Ajusta a altura para telas menores */
  }
}

@media (max-width: 37.5rem) {

  /* 600px equivalente a 37.5rem */
  .error-message {
    font-size: 0.6875rem;
    /* Reduz ainda mais o tamanho da fonte para telas pequenas */
    height: 0.875rem;
    /* Reduz a altura da área da mensagem */
  }
}


/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close-modal {
  background-color: var(--vermelhointenso);
  color: var(--branco);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  /* Deixa o botão circular */
  position: absolute;
  top: -0.8rem;
  /* Ajusta a posição vertical */
  right: 0.5rem;
  /* Ajusta a posição horizontal */
  width: 24px;
  /* Define uma largura menor */
  height: 24px;
  /* Define uma altura menor */
  display: flex;
  /* Centraliza o conteúdo */
  align-items: center;
  /* Centraliza verticalmente */
  justify-content: center;
  /* Centraliza horizontalmente */
  font-size: 14px;
  /* Ajusta o tamanho da fonte */
  padding: 0;
  /* Remove o padding para evitar aumentar o tamanho */
}

.nav-item {
  position: relative;
}



.nav-item:hover .dropdown-menu {
  display: block;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--pretofundo);
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu .nav-link {
  padding: 0.5rem 1rem;
  color: var(--branco);
  text-decoration: none;
  display: block;
}


.nav-item:hover .dropdown-menu {
  display: block;
}

td button.delete {
  background-color: var(--vermelho);
  border: none;
  text-decoration: none;
  color: var(--branco);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

td button.update {
  background-color: var(--verde);
  border: none;
  color: var(--branco);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

td button.update a {
  text-decoration: none;
  color: var(--branco);
}

div.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  background-color: var(--pretofundo);
  width: 70vw;
  height: 70vh;
  border-radius: 20px;
  margin: auto; /* Centraliza horizontalmente */

  a {
    color: var(--pretoletra);
  }
}

div.auth button {
  background-color: var(--amarelologo);
  border: none;
  color: var(--pretoletra);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--pretofundo);
}

::-webkit-scrollbar-thumb {
  background: var(--amarelologo);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--amarelotoque);
}

.app {
  margin-left: 50px;
  padding-top: 15vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;

  .addHome {
    cursor: pointer;
    border: none;
    background-color: var(--vermelhointenso);
    color: var(--branco);
    font-weight: bold;
  }


  .cliente {
    input {
      width: 270px;
      height: auto;
    }

    button {
      width: 270px;
      border: none;
      padding: 10px;
      background-color: var(--amarelologo);
      color: var(--pretoletra);
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-left: 20px;
    }

    button:hover {
      background-color: var(--amarelotoque);
    }

    /* Adicionando regra para <p> */
    p {
      color: black;
      /* Define a cor do texto como preto */
    }
  }


  button.categoriaAdd {
    width: 270px;
    border: none;
    padding: 10px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }

  button.adicionar {
    width: 12%;
    height: 20%;
    border: none;
    padding: 12px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }


  .order-items-header {
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 1rem;
    /* Margem inferior para espaçamento */
  }

  .order-items-list {
    list-style-type: none;
    /* Remove os marcadores da lista */
    padding: 0;
    /* Remove o preenchimento padrão */
  }
  .espaco-botoes {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
  }
  
  /* AQUI COMEÇA O ITEM PEDIDO  */
  .order-item {
    display: flex;
    justify-content: space-between;
    /* Espaçamento entre os elementos */
    align-items: center;
    /* Alinha verticalmente ao centro */
    background-color: #d6d6d2;
    /* Cinza claro */
    padding: 0.5rem;
    /* Adiciona preenchimento interno */
    margin-bottom: 0.5rem;
    /* Espaçamento entre os itens */
    border-radius: 4px;
    /* Arredonda os cantos do item */
    padding-left: 6%;
    height: 60px;
  }

  .order-item-name {
    max-width: 100%;
    /* Limita a largura do nome do item */
    overflow: hidden;
    /* Oculta o texto que ultrapassa a largura */
    white-space: nowrap;
    /* Evita que o texto quebre para a linha seguinte */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) para texto truncado */

  }

  .order-item-controls {
    display: flex;
    align-items: center;
    /* Alinha verticalmente os controles */
  }

  .order-item-quantity {
    background-color: #ebebeb;
    width: 70px;
    /* Define a largura do campo de quantidade */
    margin-right: 10px;
    /* Espaço entre o campo de quantidade e o ícone de remoção */
  }

  .order-item-remove {
    cursor: pointer;
    /* Muda o cursor para indicar que é clicável */
    margin: 0;
    /* Remove a margem padrão */
    color: #dc3545;
    /* Cor do texto para o botão de remoção (vermelho) */
    font-weight: bold;
    /* Deixa o texto mais destacado */
  }

  button.adicionar-categoria {
    width: 15%;
    height: 10%;
    border: none;
    padding: 12px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.adicionar-produto {
    width: 15%;
    height: 10%;
    border: none;
    padding: 12px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.editar-usuario {
    width: 8rem;
    height: 10%;
    border: none;
    padding: 12px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.adicionar-usuario {
    width: 12%;
    height: 10%;
    border: none;
    padding: 12px;
    background-color: var(--amarelologo);
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.editar-senha {
    width: 10rem;
    height: 20%;
    border: none;
    padding: 12px;
    background-color: #00000011;
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
  }
  button.aplicar-filtro {
    width: 10rem;
    height: 3.3rem;
    border: none;
    padding: 12px;
    background-color: #36363611;
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.aplicar-filtro:hover {
    background-color: var(--amarelotoque);
  }
  button.limpar-filtro {
    width: 10rem;
    height: 3.3rem;
    border: none;
    padding: 12px;
    background-color: #36363611;
    color: var(--pretoletra);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

  }

  button.limpar-filtro:hover {
    background-color: var(--amarelotoque);
  }

  button.categoriaAdd:hover {
    background-color: var(--amarelotoque);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 270px;
      padding: 10px;
      border: 1px solid var(--cinza);
    }

    input radio {
      width: 5px;
    }

    textarea {
      padding: 10px;
    }

    button {
      width: 270px;
      border: none;
      padding: 10px;
      background-color: var(--amarelologo);
      color: var(--pretoletra);
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
  
    }

    button:hover {
      background-color: var(--amarelotoque);
    }

    select {
      width: 270px;
      padding: 10px;
      border: 1px solid var(--cinza);
      background-color: var(--fundobranco);
    }
  }
}

.categoria-select {
  background-color: var(--fundobranco);
  border-radius: 10px;
}

.datetime-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}
.success-modal {
  position: fixed;
  top: 80px;
  /* Ajuste a distância do topo conforme necessário */
  right: 20px;
  /* Define a distância do lado direito */
  background-color: var(--sombramodal);
  color: var(--verdemodal);
  padding: 15px;
  border: 1px solid var(--verdeclaro);
  border-radius: 5px;
  width: 300px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adiciona uma sombra para destaque */
}

.success-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebtn {
  width: auto;
  border: 1px solid var(--pretofundo);
  margin: 2px;
  padding: 10px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  height: 60%;
  font-size: 16px;
}


button {
  width: auto;
  border: 1px solid var(--pretofundo);
  margin: 2px;
  padding: 10px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: var(--amarelotoque);
}

#pedidos {
  padding-top: 20vh;

  p {
    color: var(--pretoletra);
  }

  span {
    color: var(--amarelotoque);
    cursor: pointer;
  }
}

.promo {
  display: flex;
  flex-direction: column;
}

.Produto {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Produto p {
  color: var(--pretoletra);
}

.esquerda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5vh;
}

.direita {
  margin-left: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.nav {
  display: flex;
  flex-direction: row;
  height: 10vh;
}

div.pedido {
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;

}

li {
  list-style-type: none;
}

.button-disabled {
  background-color: var(--meiotom);
  color: var(--cinza);
  cursor: not-allowed;
}

#login {
  width: 100%;
  border-radius: 20px;

  div {
    padding: 10px;
  }
}
.label-usuario, .label-senha {
  font-size: 16px;
  color: #FFD700; /* Cor amarela dourada */
  margin-bottom: 5px;
  text-align: left;
  display: inline-block; /* Garantir que o texto fique à esquerda */
}

#login.auth {
  width: 70vw;
  height: 70vh;
  margin: auto; /* Centraliza o container no centro da tela */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo internamente */
}

#imagem {
  margin: 5vh;
  align-content: center;
  justify-content: left;

  img {
    height: 30vh;
    max-width: 30vw;
    width: auto;
  }
}

.modal-cliente {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content-cliente {
  position: relative;
  background-color: var(--sombramodal);
  margin: 5vw;

  padding: 20vh;
  border-radius: 10px;
}

button.close-cliente {
  position: absolute !important;
  top: 15vh !important;
  right: 15vw !important;
  width: 1vw !important;
  background-color: transparent !important;
  border: none !important;
  font-size: 20px !important;
  cursor: pointer !important;
}

.close-cliente:hover,
.close-cliente:focus {
  color: var(--vermelhointenso) !important;
}

.atualizar-cliente {
  border: 1px solid var(--pretofundo) !important;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: var(--branco);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* The subnavigation menu */
.subnav {
  margin-right: 10px;
  margin-left: 20px;
  width: 10vw;
  align-content: center;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding-top: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--pretofundo);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-top: 5vh;
  width: 10vw;
  float: left;
  color: var(--cinza);
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: var(--cinza);
  color: var(--pretoletra);
  border-radius: 20px;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

.asterisco-branco {
  color: var(--fundobranco);
}

.asterisco {
  color: var(--vermelhointenso);
}

input {
  background-color: var(--fundobranco);
}

.navbar {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
}

.nav-item {
  list-style: none;
}

.direita {
  margin-left: auto;
  /* Se quiser alinhar à direita */
}


p#erro {
  font-style: italic;
  font-size: 18px;
  color: #e01f1f;
}

.form-container {
  margin-top: 50px;
  transform: scale(0.9);
  /* Ajuste o valor conforme o necessário */
  transform-origin: center center;
  /* Mantém a escala a partir do canto superior esquerdo */
  position: relative;
  max-width: 800px;
  /* Define uma largura máxima */
  margin: 0 auto;
  /* Centraliza o formulário na página */
  justify-content: flex-start;
  padding-bottom: 300px;
}

.form-container-usuario {
  margin-top: 50px;
  transform: scale(0.9);
  /* Ajuste o valor conforme o necessário */
  transform-origin: center center;
  /* Mantém a escala a partir do canto superior esquerdo */
  position: relative;
  width: 20%;
  /* Define uma largura máxima */
  margin: 0 auto;
  /* Centraliza o formulário na página */
  justify-content: flex-start;

}

.form-row {
  display: flex;
  gap: 50px;
  /* Espaçamento entre os campos */
  margin-bottom: 1px;
  flex-wrap: wrap;
  /* Permite que os itens quebrem a linha */
  min-width: 500;
  /* BOTAR AQUI 500 Garante que a linha ocupe a largura total  ou 100% */
}

.form-container-pedido label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-container-pedido .form-group input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;
}

.form-container-pedido2 {

  transform: scale(0.9);
  /* Ajuste o valor conforme o necessário */
  display: flex;
  /* Usa flexbox para o contêiner do formulário */
  justify-content: space-between;
  /* Cria espaço entre os elementos filhos */
  width: 80%;
  /* Define a largura do contêiner */
  margin-right: 11%;
  /* Centraliza o contêiner no eixo horizontal */

}

.form-container-pedido {

  transform: scale(0.9);
  /* Ajuste o valor conforme o necessário */
  display: flex;
  /* Usa flexbox para o contêiner do formulário */
  justify-content: space-between;
  /* Cria espaço entre os elementos filhos */
  width: 80%;
  /* Define a largura do contêiner */
  margin: 0 auto;
  /* Centraliza o contêiner no eixo horizontal */

}

.form-esquerda-pedido {
  flex: 0 0 45%;
  /* Define a largura da parte esquerda */
  margin-right: 20px;
  /* Aumenta o espaçamento entre esquerda e direita */
}
.form-esquerda-pedido2 {
  flex: 0 0 45%;
  /* Define a largura da parte esquerda */
  margin-right: 50px;
  /* Aumenta o espaçamento entre esquerda e direita */
}

.form-control-pedido-textarea {
  width: 100%; /* Ocupa toda a largura disponível */
  height: auto; /* Ajusta automaticamente à quantidade de texto */
  font-size: 14px; /* Define um tamanho de fonte legível */
  padding: 10px; /* Adiciona espaçamento interno */
  border: 1px solid #ccc; /* Define uma borda padrão */
  border-radius: 5px; /* Arredonda os cantos */
  background-color: #f9f9f9; /* Define uma cor de fundo leve */
  color: #333; /* Cor do texto */
  resize: vertical; /* Permite redimensionar apenas na vertical */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  line-height: 1.5; /* Define o espaçamento entre as linhas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
}

.form-direita-pedido {
  flex: 0 0 45%;
  /* Define a largura da parte direita */
}

button.adicionar-produto-pedido {

  width: 15%;
  height: 100%;
  border: none;
  align-self: flex-end;
  /* Alinha o botão à parte de baixo do select */
  margin-bottom: 2%;
  /* Ajuste para dar espaço, se necessário */
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;


}
.filters-container2 {
  padding-left: 35px;
  padding-right: 100px;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.form-row-pedido {
  display: flex;
  gap: 20px;
  margin: 0 auto 1px auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* Garante que os itens fiquem alinhados verticalmente */
}

.form-group-pedido {
  flex: 1;
  min-width: 200px;
}

.form-group {

  flex: 1;
  /* Os campos ocuparão o mesmo espaço */
  min-width: 200px;
  /* Define um tamanho mínimo para cada campo */
}


.form-container label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-container .form-group input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;
}

.form-container-usuario label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-container-usuario .form-group input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;
}

input[type="datetime-local"] {
  background-color: #F0F8FF;
  /* Default background */
  border: 1px solid #ccc;
  /* Light border color */
  padding: 0.5rem;
  /* Add some padding for better appearance */
  transition: background-color 0.3s;
  /* Smooth transition */
}

/* Apply light gray background when the input is empty and placeholder is shown */
input[type="datetime-local"]:placeholder-shown {
  background-color: lightgray;
  border: none;
  /* Light gray when there's no selection */
}

input[type="datetime-local"] {
  color: #a00303;
  /* Cor cinza claro */
}
.autocomplete-select {
  background-color: #f0f8ff;
  color: #000;
  padding: 0 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 20rem;
  box-sizing: border-box;
  font-size: 16px;
  height: 50px;
  outline: none;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1rem;
}









.small-input {
  width: 2px; /* Ajuste o valor conforme a largura desejada */
  padding: 8px; /* Opcional: ajuste o padding para melhor aparência */
  box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
}

input[type="datetime-local"]:focus {
  color: #000;
  /* Muda a cor para preto ao focar */
}
input[type="text"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="datetime-local"], 
select, 
textarea {
    background-color: #f0f8ff;
    color: #000;
    padding: 8px;
  /*  border: 1px solid #ccc; */
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    height: 50px;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 15px;
}
textarea {
  background-color: #f0f8ff;
  color: #000;
  padding: 8px;
/*  border: 1px solid #ccc; */
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  height: 245px;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 15px;
}
.dropdown-button{
  background-color: #f0f8ff;
  color: #000;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 114%;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  height: 50px;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 15px;


}
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaçamento entre os itens */
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 14px; /* Tamanho da fonte um pouco menor para um visual mais compacto */
  padding: 5px 0;
}

.checkbox-group input {
  width: 16px; /* Tamanho pequeno do checkbox */
  height: 16px;
  margin-right: 8px; /* Espaçamento entre o checkbox e o texto */
  background-color: #f0f8ff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkbox-group input:checked {
  background-color: #5c9ded; /* Cor de fundo quando o checkbox estiver selecionado */
  border-color: #4a8ccc; /* Cor da borda quando selecionado */
}

.checkbox-group label:hover input {
  border-color: #4a8ccc; /* Muda a borda ao passar o mouse */
}


/* Estilo especial para o input de datetime-local */
input[type="datetime-local"] {
  border: 1px solid #111111;
  
    background-color: #F0F8FF; /* Para manter o fundo igual aos outros campos */
}


.scrollable-container {
  max-height: 200px;
  /* Adjust as needed */
  overflow-y: auto;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the content horizontally */
  margin-top: 5rem;
  /* Sets top margin for the container */
  background-color: #cfcccc;
  border-radius: 12px;
  margin-left: 14%;
  margin-right: 14%;
  padding-top: 1%;
}

.pricing-row {
  display: flex;
  justify-content: space-between;
  /* Space between items */
  width: 90%;
  /* Ensures the row occupies half of the container width */
  margin-bottom: 0.5rem;
  /* Margin between the rows */
}

.total-pricing-row {
  margin-bottom: 0.25rem;
  /* Reduces bottom margin for the total row */
}

.price {
  font-size: 0.999rem;
  /* Diminui a fonte dos preços de frete e parcial */
}

.total-price {
  font-size: 1.5rem;
  /* Increases font size for total price */
  font-weight: bold;
  /* Makes total price bold */
}

.label {
  font-weight: normal;
  /* Rótulos em peso normal */
}

.price-strong {
  font-weight: bold;
  /* Estilo para texto em negrito, agora com nome mais descritivo */
}


.label-bold {
  font-weight: bold;
  /* Makes labels bold */
}

select {
  color: #000;
  /* Cor preta para todas as opções */
  width: 100%;
  /* Make sure it has enough width */
  z-index: 1;
  /* Ensure it's above other elements */
}

select:invalid {
  color: #919191;
  /* Cor cinza claro */
  border: 1px solid #000000;
  /* Borda sempre presente */
}

option:not(:first-of-type) {
  color: black;
}

.order-items-scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
}

.order-items-scrollable-container{
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: var(--meiotom) var(--fundobranco);
  ::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  } 
  ::-webkit-scrollbar-track {
    background: var(--fundobranco); /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--meiotom); /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas da barra de rolagem */
    border: 2px solid var(--sombramodal); /* Espaçamento ao redor da barra */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--cinza); /* Cor da barra de rolagem quando o mouse está sobre ela */
  }

}

.form-container .form-group textarea {
  position: relative;
  height: 50px;
  /* Essa altura pode ser ajustada para textarea, se necessário */
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;
  box-sizing: border-box;
  /* Garante que padding e borda não aumentem a largura total */
}

.page-container {
  margin-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  position: sticky;
  /* Mantém o formulário fixo */
  top: 20px;
  /* Define a distância do topo da página */
  padding: 20px;
  z-index: 100;
  /* Para garantir que o formulário esteja acima de outros elementos */
}

.form-title {
  margin: 0;
  /* Remove margens para que o título não afete o layout */
  padding: 20px 0;
  /* Ajuste o padding se necessário */
  text-align: center;
  /* Centraliza o título, se desejado */
  font-size: 24px;
  /* Ajusta o tamanho da fonte conforme necessário */
  color: #333;
  /* Defina a cor do texto, se desejado */
}

.form-container .form-group select {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 18px;
  border: 1px solid;
  border-radius: 6px;
  padding: 0 15px;

  background-color: #f0f8ff;
  color: #000;

  border: 1px solid var(--pretofundo);
}



/* Estilo para o campo de senha */
.senha-input {
  background-color: #f0f8ff !important;
  /* Força a cor de fundo */
  color: #000 !important;
  /* Força a cor do texto */
  border: 1px solid var(--pretofundo) !important;
  /* Força a borda */
}

/* Estilo para os radio buttons */
.radio-group {
  display: flex;
  /* Exibe os radio buttons lado a lado */
  gap: 10px;
  /* Espaço entre os radio buttons */
  align-items: center;
  /* Alinha verticalmente com os textos */
}

/* Mantém o estilo para o input dentro do form-group */
.form-container .form-group input[type="radio"] {
  margin-right: 12px;
  /* Espaço entre o radio e o texto */
}

.radio-group label {
  display: flex;
  align-items: center;
  padding-right: 52px;
}

/* menu lateral */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--pretofundo);
  width: 70px;
  /* Largura inicial */
  box-shadow: 10px 0 0 var(--amarelotoque);
  border-left: 10px solid var(--pretofundo);
  overflow-x: hidden;
  transition: width 0.5s;
  z-index: 1000;
}

.navigation.open {
  width: 300px;
  /* Largura quando aberto */
}

.menu-button {
  position: absolute;
  top: 10px;
  /* Distância do topo */
  left: 10px;
  /* Distância da esquerda */
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 1.5rem;
  color: var(--branco);
  z-index: 1001;
  /* Garante que o botão fique acima dos ícones */
}

.navigation ul {
  position: relative;
  top: 50px;
  /* Ajuste para deixar espaço para o botão do menu */
  width: 100%;
  padding-left: 5px;
  padding-top: 20px;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navigation ul li a {
  position: relative;
  display: flex;
  height: 2.7rem;
  width: 100%;
  text-decoration: none;
  color: var(--branco);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 2000;
}

.nav-item .icon-menor {
  position: relative;
  display: block;
  text-align: center;
  line-height: 5px;
}

.nav-item .icon-menor ion-icon {
  position: relative;
  font-size: 1.0rem;
}

.navigation ul li a .icon-menor {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  line-height: 70px;
}

.navigation ul li a .icon-menor ion-icon {
  position: relative;
  font-size: 1.0rem;
  z-index: 2000;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li a:hover {
  color: var(--amarelotoque);
}

.navigation ul li.active {
  background: var(--amarelotoque);
  color: var(--pretoletra);
}

.navigation ul li.active a {
  color: var(--pretoletra);
}

/* CSS para o dropdown */
.dropdown-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content.show {
  max-height: 500px;
  /* Um valor alto para garantir que o conteúdo apareça */
  opacity: 1;
}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
  display: block;
  padding-left: 40px;
  text-decoration: none;
  color: var(--branco);
}

.dropdown-content a:hover {
  color: var(--amarelotoque) !important;
  background-color: var(--fundoclaro);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/*fim menu*/
.pagination {
  display: flex;
  justify-content: center;
  /* Centraliza o conteúdo */
  align-items: center;
  /* Centraliza verticalmente */
  gap: 10px;
  /* Espaçamento entre os botões */
  margin-top: 20px;
  /* Espaçamento acima da paginação */
}

.search-box {
  position: relative;
  float: left;
  /* Muda de right para left */
  margin-bottom: 10px;
}

.filter-box select {
  height: 34px;
  border-radius: 20px;
  padding-left: 20px;
  /* Aumente o padding se necessário */
  border-color: #ddd;
  box-shadow: none;
  outline: none;
}
.link-style {
  color: blue; /* Cor do texto como um link */
  text-decoration: underline; /* Adiciona o sublinhado típico de links */
  cursor: pointer; /* Muda o cursor para o tipo mão, indicando que é clicável */
}
.search-icon {
  cursor: pointer; /* Muda o cursor para a mãozinha */
}
.link-style:hover {
  color: darkblue; /* Alteração da cor do link quando o mouse passa por cima */
}

.search-box input {
  height: 34px;
  min-width: 250px;
  border-radius: 20px;
  padding-left: 20px;
  /* Aumente o padding se necessário */
  border-color: #ddd;
  box-shadow: none;
  outline: none;
}
.search-box input[type="datetime-local"] {
  height: 34px;
  min-width: 250px;
  border-radius: 20px;
  padding-left: 20px;
  /* Aumente o padding se necessário */
  border-color: #ddd;
  box-shadow: none;
  outline: none;
}
.search-box input:focus {
  border-color: #3FBAE4;
}

.search-box .search-icon {
  color: #a0a5b1;
  font-size: 19px;

}



.action-icon {
  color: #03A9F4;
  /* Cor do ícone */
  font-size: 24px;
  /* Tamanho do ícone */
  margin: 0 8px;
  /* Espaçamento entre os ícones */
  transition: color 0.3s;
}

.action-icon:hover {
  color: #0397d6;
  /* Cor ao passar o mouse */
}

.action-icon.delete {
  color: #f44336;
  /* Cor personalizada para deletar */
}

.action-icon.finalizar {
  color: #4CAF50;
  /* Cor personalizada para finalizar */
}

.action-icon.button-disabled {
  color: #ccc;
  /* Cor quando desativado */
  cursor: not-allowed;
  /* Indicação de desabilitado */
}

.tipo-entrega {
  width: 50%;
  padding: 4px 8px;
  border-radius: 12px;
  color: rgb(0, 0, 0);


  display: inline-block;
}

.status {
  width: 8rem;
  padding: 4px 8px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

/* Status Colors */
.status-finalizado {
  background-color: #4CAF50;
  /* Verde */
}

.status-em-andamento {
  background-color: #FFC107;
  /* Amarelo */
}

.status-nao-finalizado {
  background-color: #F44336;
  /* Vermelho */
}

.status-desconhecido {
  background-color: #9E9E9E;
  /* Cinza */
}


@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.help-button {
  float: right;
  /* Faz o botão flutuar à direita */
  background-color: #002752;
  /* Azul padrão */
  color: white;
  /* Cor do texto (ou ícone) */
  border: none;
  /* Remove a borda padrão */
  border-radius: 50%;
  /* Faz o botão ser redondo */
  width: 40px;
  /* Largura do botão */
  height: 40px;
  /* Altura do botão */
  display: flex;
  /* Flexbox para centralizar o ícone */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  cursor: pointer;
  /* Muda o cursor para pointer */
  transition: background-color 0.3s;
  /* Animação de transição suave */
  outline: none;
  /* Remove o contorno quando clicado */
}

.help-button:hover {
  background-color: #0056b3;
  /* Azul mais escuro ao passar o mouse */
}

.help-button:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  /* Efeito ao focar */
}

.dropdown-user {
  position: relative;
  display: inline-block;
}

.dropdown-content-user {
  color: var(--amarelotoque);
  display:none;
  position:absolute;
  right: 0;
  background-color: var(--pretofundo);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-user p {
  color: var(--amarelotoque);
}

.dropdown-content-user a{
  color: var(--amarelotoque);
}

.dropdown-user:hover .dropdown-content-user {
  display: block;
  color: var(--amarelotoque);
}

.gerar-relatorio{
  width: 9%;
  height: 10%;
  border: none;
  padding: 12px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}
.voltar2{
  width: 10%;
  height: 10%;
  border: none;
  padding: 12px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}

.voltar{
  width: 10%;
  height: 10%;
  border: none;
  padding: 12px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}

.voltar-usuario{
  border: none;
  padding: 12px;
}

.gerar-relatorio-produto{
  height: 10%;
  width: 10%;
  border: none;
  padding: 12px;
  background-color: var(--amarelologo);
  color: var(--pretoletra);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 2%;
}
